# Network / deployer
RPC_URL=https://your-rpc-url
CREATOR_PRIVATE_KEY=your_private_key_without_0x
JOINER_PRIVATE_KEY=your_private_key_without_0x
TRADER_PRIVATE_KEY=your_private_key_without_0x

FORCE_WARP=false

# WorldInPaper constructor args
FORWARDER_ADDRESS=0x6E9EE680ef59ef64Aa8C7371279c27E496b5eDc1
USDC_ADDRESS=0x79a02482a880bce3f13e09da970dc34db4cd24d1
WORLD_ID_ROUTER_ADDRESS=0x17B354dD2595411ff79041f930e491A4Df39A278
WORLD_ID_VERIFICATION_ENABLED=true

# For scripts
WORLD_IN_PAPER_ADDRESS=0x0000000000000000000000000000000000000000
