###############################################################################
### DO NOT COMMIT THIS FILE                                                 ###
###############################################################################

# Private key funded on World Chain mainnet (for gas during simulation --broadcast)
CRE_ETH_PRIVATE_KEY=<YOUR_PRIVATE_KEY>

# Uniswap Trading API key (https://developers.uniswap.org/dashboard/)
UNISWAP_API_KEY=<YOUR_UNISWAP_API_KEY>
